<div class="form form-devise">
  <h2>編輯 <%= resource_name.to_s.humanize %> 帳號資訊</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group" style="width: 300px;">
      <%= f.label t("activerecord.attributes.user.email") %>
      <%= f.email_field :email, autofocus: true, class: "form-control", required: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group" style="width: 300px;">
      <%= f.label t("devise.passwords.edit.new_password") %> <i>(<%= t("devise.passwords.edit.new_password_tip") %>)</i>
      <%= f.password_field :password, class: "form-control" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= t("devise.passwords.character_amount", :number => "6") %></em>
      <% end %>
    </div>

    <div class="form-group" style="width: 300px;">
      <%= f.label t("devise.passwords.edit.confirm_new_password") %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <div class="form-group" style="width: 300px;">
      <%= f.label t("activerecord.attributes.user.current_password") %>
      <%= f.password_field :current_password, class: "form-control", required: true %>
    </div>

    <div class="form-group" style="width: 300px;">
      <%= f.submit t("devise.registrations.edit.update"), class: "btn btn-lg btn-primary" %>
    </div>
  <% end %>

  <div style="border-bottom: 1px solid #888;"></div>
  <h3>註銷帳號</h3>

  <p>不想再使用了嗎？ <%= button_to "註銷帳號", registration_path(resource_name), data: { confirm: "確認註銷帳號?" }, method: :delete %></p>

  <%= link_to "回上一頁", :back %>
</div>
