<div class="form form-devise">
  <h2 style="margin-top: 0;"><%= t("devise.registrations.new.sign_up") %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group" style="width: 300px;">
      <%= f.label t("activerecord.attributes.user.email") %>
      <%= f.email_field :email, autofocus: true, class: "form-control", required: true %>
    </div>

    <div class="form-group" style="width: 300px;">
      <%= f.label t("activerecord.attributes.user.password") %>
      <%= f.password_field :password, class: "form-control", required: true %>
    </div>

    <div class="form-group" style="width: 300px;">
      <%= f.label t("activerecord.attributes.user.password_confirmation") %>
      <%= f.password_field :password_confirmation, class: "form-control", required: true %>
    </div>

    <div class="form-group" style="width: 300px;">
      <%= f.submit t("devise.registrations.new.sign_up"), class: "btn btn-lg btn-primary" %>
    </div>
  <% end %>
</div>
