<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @movie.image.url, style: "width: 100%" %>
        <div class="star-rating" data-score= <%= @avg_review %>></div>
        <em><%= "#{@reviews.length} reviews" %></em>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td width="110px"><strong>Title:</strong></td>
                <td><%= @movie.title %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= truncate(@movie.description, length: 20) %></td>
              </tr>
              <tr>
                <td><strong>Movie length:</strong></td>
                <td><%= @movie.movie_length %></td>
              </tr>
              <tr>
                <td><strong>Director:</strong></td>
                <td><%= @movie.director %></td>
              </tr>
              <tr>
                <td><strong>Rating:</strong></td>
                <td><%= @movie.rating %></td>
              </tr>
            </tbody>
          </table>
          <%= link_to "新增評論", new_movie_review_path(@movie), class: "btn btn-danger" %>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="review_title"><%= @movie.title %></h1>
        <p><%= simple_format(@movie.description) %></p>

        <% if @reviews.blank? %>
          <h3>還沒有任何人評論過，成為第一個吧！</h3>
          <%= link_to "新增評論", new_movie_review_path(@movie), class: "btn btn-danger" %>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="reviews">
              <%= content_tag(:b, review.user.email + "的評論") %>
              <div class="star-rating" data-score= <%= review.rating %> ></div>
              <p><%= review.comment %></p>
              <% if current_user && current_user.id == review.user_id %>
                <%= link_to("編輯", edit_movie_review_path(review.movie, review), class: "btn btn-sm btn-default") %>
              <% end %>
            </div>
          <% end %>
          <%= will_paginate @reviews %>
        <% end %>

      </div>
    </div>

    <% if current_user && current_user.id == @movie.user_id %>
      <%= link_to '編輯資訊', edit_movie_path(@movie) %> |
      <%= link_to('刪除電影', movie_path(@movie), method: :delete, data: {confirm: "確定要刪除嗎?"}) %> |
    <% end %>
    <%= link_to '回上一頁', movies_path %>
  </div>
</div>


<script>
  $('.star-rating').raty({
    path: '/rating/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
